body {
    font-family: "Lato", Mondo, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1.42857143;
}
/************HEADER**************/
.header-top{
    background: transparent url("../img/bg.jpg") no-repeat scroll 0 0 / cover;
}
.header-logo {
    text-align: center;
     margin: 5em 0 2.5em;
}
.header-text {
    text-align: center;
    margin-bottom: 7%;
}
.header-text h2{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 38px;
    font-weight: 300;
}
.header-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.79);
    margin-top: 0.8em;
}
.header-text small {
    display: block;
    text-align: center;
}
.header-top-nav {
    text-align: center;
    width: 32%;
    margin: 0 auto;
}
.about-nav5, .about-nav4, .about-nav1, .about-nav, .about-nav3, .about-nav2:hover {
    cursor: pointer;
}
.about-nav5, .about-nav4 {
    width: 50% !important;
}
.about-nav1, .about-nav, .about-nav3, .about-nav2 {
    width: 32% !important;
}
.about-nav,
.about-nav1,
.about-nav2,
.about-nav3,
.about-nav4,
.about-nav5{
    width: 180px;
    height: 180px;
    display: inline-block;
}
.about-nav {
    background: url(../img/bha.png) no-repeat;
}
.about-nav:hover {
    background: transparent url("../img/hoverbg.png") no-repeat;
}
.about-nav1 {
    background: url(../img/bha.png) no-repeat;
}
.about-nav1:hover {
    background: transparent url("../img/hoverbg.png") no-repeat;
}
.about-nav2 {
    background: url(../img/bha.png) no-repeat;
}
.about-nav2:hover {
    background: transparent url("../img/hoverbg.png") no-repeat;
}
.about-nav3 {
    background: url(../img/bha.png) no-repeat;
}
.about-nav3:hover {
    background: transparent url("../img/hoverbg.png") no-repeat;
}
.about-nav4 {
    background: url(../img/bha.png) no-repeat;
}
.about-nav4:hover {
    background: transparent url("../img/hoverbg.png") no-repeat;
}
.about-nav5 {
    background: url(../img/portbg.png) no-repeat;
}
.about-nav a,
.about-nav1 a {
    padding-top: 3em;
    display: inline-block;
    margin-left: 32%;
}
.about-nav2 a,
.about-nav3 a {
    padding-top: 3em;
    display: inline-block;
    margin-right: 32%;
}
.about-nav4 a {
    padding-top: 3em;
    display: inline-block;
}
.about-nav5 a {
    padding-top: 3em;
    display: inline-block;
    text-decoration: none;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.about-nav2 label,
.about-nav3 label,
.about-nav1 label,
.about-nav label,
.about-nav4 label,
.about-nav5 label{
    color: #FFF;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.about-nav2 label {
    margin-right: 36%;
}
.about-nav label {
    margin-left: 14%;
}
.about-nav1 label {
    margin-left: 14%;
}
.about-nav .nav-icon,
.about-nav1 .nav-icon1,
.about-nav2 .nav-icon2,
.about-nav3 .nav-icon3,
.about-nav4 .nav-icon4,
.about-nav5 .nav-icon5{
    width: 67px;
    height: 70px;
    display: inline-block;
}
.about-nav .nav-icon {
    background: url(../img/ve.png) no-repeat;
}
.about-nav1 .nav-icon1 {
     background: url(../img/user.png) no-repeat;
 }
.about-nav2 .nav-icon2 {
    background: url(../img/pen.png) no-repeat;
}
.about-nav3 .nav-icon3 {
    background: url(../img/paper.png) no-repeat;
}
.about-nav4 .nav-icon4 {
    background: url(../img/bobble.png) no-repeat;
}
.about-nav5 .nav-icon5 {
    background: url(../img/photo.png) no-repeat;
}
.arrow-nav {
    width: 10%;
    margin: 0 auto;
}
.arrow a {
    width: 120px;
    height: 120px;
    margin-bottom: 25%;
    display: inline-block;
    background: transparent url("../img/arrow.png") no-repeat;
}
.arrow a:hover{
    background: transparent url("../img/arrow1.png") no-repeat;
  }
.logo {
    padding-top: 5px;
}
/************STICKY NAVIGATION**************/
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}
.main-nav {
    padding: 10px 0;
    background: #FFF none repeat scroll 0 0;
    border-color: transparent;
}
.main-nav .top-nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #9F449B;
    border-radius: 3px;
}
.main-nav .top-nav ul li a:hover {
    color: #9F449B;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #9F449B;
}
.navbar-default .navbar-toggle {
    background-color: #9F449B;
    border-color: #9F449B;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
/************CONTENT**************/
.content {
    background: #EEE;
}
.content-top span{
    margin-left: 10%;
}
.content-top span.diamond,
.content-top span.phone,
.content-top span.cup,
.content-top span.heart{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.content-top span.heart {
    background: transparent url("../img/1.png") no-repeat;
    left: 2%;
}
.content-top span.diamond {
     background: transparent url("../img/2.png") no-repeat;
 }
.content-top span.cup {
    background: transparent url("../img/3.png") no-repeat;
    top: 0;
    right: 16%;
}
.content-top span.phone {
    background: transparent url("../img/4.png") no-repeat;
}
.content-top:hover span.diamond {
    background: transparent url("../img/2hr.png") no-repeat;
}
.content-top:hover span.cup {
    background: transparent url("../img/3hr.png") no-repeat;
}
.content-top:hover span.phone {
    background: transparent url("../img/4hr.png") no-repeat;
}
.content-top p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11%;
    line-height: 1.75em;
    color: #8d8d8d;
}
.content-top h3 {
    margin-top: 10%;
    color: #676767;
    text-align: center;
}
.content-top{
    margin: 7% 0 10% 0;
}
/************CONTENT ABOUT**************/
.content-about-left-side img{
    width: 100%;
}
.content-about-right-side p{
    font-family: "Lato",sans-serif;
    font-size: 17px;
    color: #8D8D8D;
    line-height: 33px;
    width: 92%;
    padding-left: 20px;
}
.learn-more{
    margin-top: 17%;
    padding-left: 20px;
}
.content-about-bottom {
    margin-top: 5%;
    background: transparent url("../img/quotebg.png") no-repeat scroll 0 0 / cover;
}
.content-about-bottom-text{
    text-align: center;
    padding: 8% 0;
}
.content-about-bottom-text p{
    font-family: "Lato",sans-serif;
    font-size: 44px;
    color: #FFF;
    font-weight: 300;
    margin: 2% 0 0;
}
/************Buttons**************/
.all-buttons a{
    background-color: #9f449b;
    border-radius: 10px;
    border-bottom: 5px solid #6b2e68;
    padding: 1em 3em;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
.all-buttons:hover a{
    color:#6B2E68;
    text-decoration:none;
    background: transparent;
    border: solid 2px #6B2E68;
    border-top: solid 5px #6B2E68;
    border-radius: 10px;
    padding:1em 3em;
}
/************CONTENT-TEAM**************/
.content-team{
    margin-top: 3%;
    position: relative;
}
.content-title{
    position: relative;
    color: #676767;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 45px;
    margin: 13% 0 10% 0;
}
.content-title .bg{
    position: relative;
    display: inline-block;
    padding: 35px 50px;
 }
.content-title .bg:before,
.content-title .bg:after{
    content: "";
    height: 30px;
    position: absolute;
    width: 30px;
}
.content-title .bg:before{
    border-bottom: 1px solid #9F449B;
    border-left: 1px solid #9F449B;
    bottom: 0;
    left: 0;
}
.content-title .bg:after{
    border-top: 1px solid #9F449B;
    border-right: 1px solid #9F449B;
    top: 0;
    right: 0;
}
.content-title small{
    color: #9F449B;
    font-size: 45px;
}
.item .team-left-grid{
    text-align: center;
    position: relative;
}
.team-left-grid img{
    border-radius: 50%;
    margin-bottom: 15%;
}
.team-left-grid h2{
    color: #484848;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
}
.team-left-grid p{
    color: #B6B6B6;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 7%;
}
.team-icon-grid{
    text-align: center;
    width: 34%;
    margin: 0 auto;
}
.team-icon-grid .f-icon,
.team-icon-grid  .g-icon{
    text-align: center;
    display: inline-block;
    height: 47px;
}
.team-icon-grid .f-icon{
    background: url("../img/f.png") no-repeat;
}
.team-icon-grid .f-icon:hover{
    background: url("../img/fhr.png") no-repeat;
}
.team-icon-grid  .g-icon {
    background: url("../img/g.png") no-repeat;
}
.team-icon-grid .g-icon:hover{
    background: url("../img/ghr.png") no-repeat;
}
.arrows {
    text-align: center;
    padding-bottom: 250px;
}
.arrows .owl-arrow{
    height: 74px;
    width: 74px;
    display: inline-block;
    opacity: 0.5;
}
.arrows .owl-arrow:hover{
    opacity: 1;
}
.arrows .arrow-prev {
    background: url("../img/left.png") no-repeat;
}
.arrows .arrow-next{
    background: url("../img/right.png") no-repeat;
}
/************CONTENT SKILLS**************/
.progress-title h3{
    float: left;
    font-weight: 600;
    margin-bottom: 1em;
}
.progress-title .percent{
    float: right;
    margin: 1em 1em 0px 0px;
    font-size: 22px;
    font-weight: 400;
    color: #B2B2B2;
}
.progress-title .progressy1 p,
.progress-title .progressy2 p,
.progress-title .progressy3 p,
.progress-title .progressy4 p{
    background: #9F449B none repeat;
    height: 20px;
}
.progress-title .progressy1 p{
    width: 85%;
}
.progress-title .progressy2 p{
    width: 75%;
}
.progress-title .progressy3 p{
    width: 67%;
}
.progress-title .progressy4 p{
    width: 80%;
}
.progress-title .progressy1,
.progress-title .progressy2,
.progress-title .progressy3,
.progress-title .progressy4{
    width: 95%;
    background: #F0F0F0 none repeat;
    margin-bottom: 2em;
}
.center-skills{
    margin-bottom: 5%;
}
.content-blog{
    background: #eeeeee none repeat;
}
.content-services-bottom-text {
    text-align: center;
    padding: 8% 0;
}
.content-services-bottom-text p {
    font-family: "Lato",sans-serif;
    font-size: 44px;
    color: #FFF;
    font-weight: 300;
    padding-top: 1em;
    width: 44%;
    margin: 0 auto;
}
.blog-grids{
    margin-top: 10%;
    margin-bottom: 13%;
}
.blog-grid h2{
    font-weight: normal;
    font-size: 60px;
}
.image-grid{
    text-align: center;
}
.image-grid img {
    border-radius: 50%;
    margin: 0 auto;
}
.blog-text {
    text-align: center;
    margin: 3% 0;
}
.blog-bottom-text {
    text-align: center;
    margin-bottom: 4%;
}
.blog-text p {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    color: #4B4B4B;
    font-size: 22px;
    width: 65%;
    margin: 0 auto;
}
.blog-bottom-text p {
    color: #777777;
    font-family: 'Monda', sans-serif;
    font-weight: 700;
}
.blog-bottom {
    background: #FFFFFF;
    padding: 2%;
    margin-top: 9%;
}
/***********PORTFOLIO*************/
.sap_tabs{
    clear: both;
    padding: 0 0 0;
}
.resp-tabs-list{
    text-align: center;
    list-style: none;
    margin: 3em 0;
    padding: 0;
}
.resp-tabs-list li{
    color: #172F41;
    border: 1px solid #172F41;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.2em 1.2em;
    margin: 0 0.5em 0;
    transition: all 0.3s ease-out;
}
.resp-tabs-list li:hover{
    color: #fff;
    border: 1px solid #9F449B;
    background: #9F449B;
    border-radius: 6px;
}
.resp-tabs-container {
    padding: 0;
    clear: left;
}
.img-top{
    cursor: pointer;
}
.img-top .portfolio-text{
    text-align: center;
}
.portfolio-text p{
    color: #B2B2B2;
    font-size: 16px;
}
.watch-more{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5%;
}
/********CONTENT-CONTACT***********/
.content-contact-left-grids form input{
    width: 100%;
    border: 1px solid #8f8f8f;
    padding: 3%;
    margin-bottom: 7%;
    color: #222222;
    font-size: 18px;
}
.content-contact-left-grids form input:hover{
    border: 1px solid #A957A5;
}
.content-contact-left-grids form textarea{
    width: 100%;
    border: 1px solid #8f8f8f;
    padding: 3%;
    margin-bottom: 5%;
    color: #222222;
    font-size: 18px;
}
.content-contact-left-grids form textarea:hover{
    border: 1px solid #A957A5;
}
.email{
    margin-top: 3em;
    width: 42%;
}
.content-contact-right-grids{
    width: 75%;
    margin: 0 auto;
}
.content-contact-right-grids p{
    font-size: 18px;
    color: #5D5D5D;
    font-family: "Lato",sans-serif;
}
.content-contact-right-grids h4{
    color: #222;
    font-family: "Lato",sans-serif;
    margin: 16% 0;
    font-size: 21px;
    font-weight: 700;
}
.content-contact-right-grids span{
    color: #222;
    font-size: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}
.content-icons{
    margin-top: 21%;
}
.content-icons span{
    color: #222;
    font-size: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}
.content-icons a span{
    width: 55px;
    height: 60px;
    background: transparent url("../img/get-icons1.png") no-repeat;
    display: inline-block;
}
.content-icons a span:hover{
    background: transparent url("../img/get-icons2.png") no-repeat;
}
.content-icons a span.icon1 {
    background-position: -6px 0;
}
.content-icons a span.icon2 {
    background-position: -79px 0;
}
.content-icons a span.icon3 {
    background-position: -154px 0;
}
.footer-title{
    text-align: center;
    padding-bottom: 8%;
    padding-top: 7%;
}
/************Responsive design***********/
@media (max-width:1200px) {
    .header-top-nav{
        width: 42%;
        margin-left: 41%;
    }
    .about-nav1,
    .about-nav,
    .about-nav3,
    .about-nav2 {
        width: 40% !important;
    }
    .about-nav5, .about-nav4 {
        width: 60% !important;
    }
    .about-nav4 a,
    .about-nav5 a {
        padding-right: 4em;
    }
    .all-buttons a{
        padding: 1em 2em;
    }
    .all-buttons:hover a{
        padding: 1em 2em;
    }
    .item img{
        width: 80%;
    }
    .team-left-grid h2{
        font-size: 18px;
    }
    .team-left-grid p{
        font-size: 14px;
    }
    .blog-text p {
        font-weight: 200;
        font-size: 16px;
        width: 100%;
    }
    .blog-bottom-text p {
        font-weight: 700;
        font-size: 12px;
        width: 100%;
    }
}
@media (max-width:1024px) {
    .content-top span {
        margin-left: 7%;
    }
}
@media (max-width:992px){
    .header-top .header-top-nav,
    .header-top .header-bottom-nav,
    .header-top .arrow-nav{
        display: none;
        visibility: hidden;
    }
    .logo {
        max-width: 100px;
        margin-left: 10px;
    }
    .logo img{
        padding-top: 7px;
    }
    .content-top span {
        margin-left: 35%;
    }
    .main-nav .top-nav ul li a{
        font-size: 14px;
    }
    .content-top p {
        margin-top: 6%;
        font-size: 14px;
        line-height: 25px;
        width: 98%;
    }
    .content-about-left-side img{
        width: 85%;
    }
    .content-about-right-side p{
        width: 80%;
        padding-left: 0;
        line-height:26px;
        font-size:15px;
    }
    .content-about-bottom-text h2{
        margin: 9% 0;
    }
    .learn-more{
        margin-top: 6%;
        padding-left: 0;
        text-align: center;
    }
    .learn-more a {
       font-size: 16px;
    }
    .team-left-grid img,
    .team-left-grid p {
        margin-bottom: 0;
    }
    .team-icon-grid {
        width: 30%;
        padding-top:10px;
    }
    .content-services-bottom-text p{
        font-size: 32px;
    }
    .blog-grids h2 {
        font-size: 48px;
    }
    .blog-grid{
        text-align: center;
    }
    .blog-text p {
        font-size: 17px;
    }
    .content-contact-right-grids p {
        line-height: 27px;
        margin-top: 7%;
    }
    .content-contact-right-grids h4 {
        margin: 8% 0;
        line-height: 28px;
    }
    .content-contact-left-grids form textarea{
        min-height:200px;
    }
    .content-icons{
        margin-top: 7%;
    }
}
@media (max-width: 768px) {
    .content-top {
        width: 50%;
        float: left;
    }
    .logo {
        max-width: 100%;
        margin-left: 15px;
    }

    .logo img{
        padding-top: 6px;
    }
    .header-text h2{
        font-size: 30px;
    }
    .header-text p{
        font-size: 18px;
    }
    .main-nav .top-nav ul li a {
        font-size: 12px;
    }
    .content-top span {
        margin-left: 22%;
    }
    .content-top h3,
    .content-top p {
        margin-top: 2%;
    }
    .content-about-left-side{
        text-align: center;
    }
    .content-about-left-side img{
        width: 90%;
    }
    .content-about-right-side p {
        width: 93%;
        margin: 1em 0 0 1em;
    }
    .content-about-bottom-text p {
        font-size: 30px;
    }
    .team-icon-grid {
        display: none;
        visibility: hidden;
    }

    .progress-title h3 {
        margin-top: 1.3em;
        margin-bottom: 0;
        font-size: 20px;
    }
    .progressy1,
    .progressy2,
    .progressy3,
    .progressy4 {
        margin-bottom: 1em;
    }
    .progress-title p{
        margin: 1em 1em 0.5em 0;
    }
    .content-services-bottom-text {
        padding: 5% 0;
    }
    .content-services-bottom-text p{
        font-size: 27px;
        width: 74%;
    }
    .blog-grids {
        margin: 4% 0;
        text-align: left;
    }
    .blog-grid {
        float: left;
        width: 23%;
    }
    .blog-grid h2 {
        margin-left: 48px;
    }
    .blog-grid p {
        margin: 0 0 0 50px;
    }
    .blog-text p {
        font-size: 14px;
        width: 85%;
    }
    .content-contact-left-grids form input,
    .content-contact-left-grids form textarea{
        padding: 2%;
        font-size: 15px;
        margin-bottom: 4%;
    }
    .email {
        width: 100%;
        text-align: center;
        margin-bottom: 7%;
    }
    .content-contact-right-grids {
        width: 100%;
    }
    .content-contact-right-grids{
        margin-bottom: 6%;
    }
    .content-contact-right-grids h4 {
        margin: 2% 0;
        font-size: 19px;
    }
    .content-icons{
        margin-top: 4%;
        text-align: center;
    }
    .img-top {
        width: 50%;
        float: left;
    }
}
@media (max-width:640px){
    .header-logo img {
        width: 50%;
    }
    .header-logo {
        margin: 2em 0 0 0;
    }
    .header-text h2 {
        font-size: 24px;
    }
    .header-text p {
        font-size: 16px;
    }
    .content-top span {
        margin-left: 17%;
    }
    .content-about-left-side img {
        width: 85%;
    }
    .content-about-right-side p {
        width: 95%;
    }
    .content-about-bottom-text p {
        font-size: 24px;
    }
    .owl-prev, .owl-next {
        top: -6%;
    }
    .progressy1,
    .progressy2,
    .progressy3,
    .progressy4 {
        margin-bottom: 0;
    }
    .progress-title p {
        margin: 1em 1em 0 0;
    }
    .content-services-bottom-text p{
        font-size: 24px;
        width: 79%;
    }
    .blog-grid h2,
    .blog-grid p  {
        margin-left: 0;
    }
    .blog-grid h2{
        font-size: 36px;
    }
    .blog-grid p  {
        font-size: 1.3em;
    }
    .blog-grid {
        width: 25%;
        font-size: 12px;
    }
    .blog-text p {
        font-size: 13px;
    }
    .watch-more {
        margin-top: 3em;
    }
    .watch-more a {
        font-size: 16px;
    }
    .content-contact-left-grids form{
        width:100%;
    }
    .content-contact-left-grids form input{
        width: 49%;
        font-size: 14px;
        margin-bottom:5%;
        float:left;
    }
    .content-contact-left-grids form textarea {
        width:100%;
        min-height: 148px;
        font-size:14px;
        margin-bottom:5%;
        float:left;
    }
    .content-contact-left-grids form input:nth-child(2){
        margin-left:2%;
    }
    .email {
        margin-top: 1em;
    }
    .email a {
        font-size: 16px;
    }
    .content-contact-right-grids p {
        line-height: 23px;
        font-size: 14px;
        overflow: hidden;
        height: 49px;
    }
    .content-contact-right-grids h4{
        font-size: 16px;
    }
    .content-contact-right-grids span{
        font-size: 16px;
    }
    .footer-title img{
        max-width: 200px;
    }
}
@media (max-width:480px){
    .header-text h2 {
        font-size: 16px;
        margin-top: 9px;
    }
    .header-text p {
        overflow: hidden;
        font-size: 14px;
    }
    .content-top span {
        margin-left: 0;
    }
    .blog-text p {
        font-size: 16px;
        width: 100%;
    }
}
